<html>
<head>
	<title>Lovely: You're Almost Home</title>
	<style>
		*{
			margin: 0px;
			padding: 0px;
			color: #333333;
		}
		p{
			margin: 0px;
			padding: 0px;
		}
	</style>
</head>
<body style="font-family:Verdana, DejaVu Sans;font-size:14px;">
<div style="border-top: 4px solid #f05836;"></div>
<div id="divSearchBar" style="width:605px;margin: 0px auto;position:relative;height:45px; color:#333; font-family:arial;">
	<img style="padding-top:0px; float:left; border:none;" src="http://livelovely.com/resource/image/logo/headerLogo.png" />
	<div style="float:right;font-family: helvetica;font-size:14px;font-style: italic; margin-top:14px;margin-right:12px;">{{c.Date}}</div>
</div>
<img style="width:100%;" height="4" src="http://livelovely.com/resource/image/backgrounds/alertEmailHeader.png" />
	<h2>Lovely Fix It</h2>
	<h3>You have a request to fix {{c.name}}'s {{c.type}} issue</h3>

	<h3>Description:</h3>
	<p>{{c.text}}</p>

	{% if c.photourl is defined %}
	<h3>Photo:</h3>
	<p><img alt='issuephoto' src="{{c.photourl}}"/></p>
	{% endif %}

	<h3>What's Next</h3>
	<p>
		You can contact one of our recommended contractors to get this fixed. But first reply to this email to respond to your tenant.
		They'll receive your response immediately and know you're working on the issue.
	</p>
	<ul style='list-style-type: none;'>
		<li style='margin-bottom: 15px;'><div class="businessresult clearfix">
			<div class="leftcol">
				<div class="clearfix media-block">
					<div class="media-avatar">
						<div class="photo-box biz-photo-box pb-60s">
							<a href="http://yelp.com/biz/pipeline-plumbing-san-francisco-3">
								<img class="photo-img" alt="" height="60" src="http://s3-media3.ak.yelpcdn.com/bphoto/XMekuoL5dj9YRjlFjmtS8w/60s.jpg" width="60">
							</a>
						</div>
					</div>
					<div class="media-story">
						<h4 class="itemheading" id="bizTitle0">
							<a id="bizTitleLink0" href="http://yelp.com/biz/pipeline-plumbing-san-francisco-3">1. Pipeline <span class="highlighted">Plumbing</span>
							</a>
						</h4>
						<div class="rightcol">
							<span>5 stars</span>
							<span class="reviews">37 reviews</span>
						</div>
					</div>
				</div>		</div>
			</div>
		</li>
		<li style='margin-bottom:15px'>
			<div class="businessresult clearfix">
				<div class="leftcol">
					<div class="clearfix media-block">
						<div class="media-avatar">
							<div class="photo-box biz-photo-box pb-60s">
								<a href="http://yelp.com/biz/aqua-star-plumbing-san-francisco">
									<img class="photo-img" alt="" height="60" src="http://s3-media1.ak.yelpcdn.com/bphoto/LZuKSkKUExpYrEokTCCd7g/60s.jpg" width="60">
								</a>
							</div>

						</div>
						<div class="media-story">
							<h4 class="itemheading" id="bizTitle1">
								<a id="bizTitleLink1" href="http://yelp.com/biz/aqua-star-plumbing-san-francisco">2. Aqua Star <span class="highlighted">Plumbing</span>
								</a>
							</h4>
							<div class="rightcol">
								<span>5 stars</span>
								<span class="reviews">31 reviews</span>
							</div>
						</div>
					</div>		</div>
				</div>

		</li>
		<li style='margin-bottom: 15px;'>
			<div class="businessresult clearfix">
				<div class="leftcol">
					<div class="clearfix media-block">
						<div class="media-avatar">
							<div class="photo-box biz-photo-box pb-60s">
								<a href="http://yelp.com/biz/franks-all-city-plumbing-san-francisco">
									<img class="photo-img" alt="" height="60" src="http://s3-media3.ak.yelpcdn.com/bphoto/NnLIgCTiEAVYJVgbP4lLZA/60s.jpg" width="60">
								</a>
							</div>

						</div>
						<div class="media-story">
							<h4 class="itemheading" id="bizTitle2">
								<a id="bizTitleLink2" href="http://yelp.com/biz/franks-all-city-plumbing-san-francisco">3. Frank's All City <span class="highlighted">Plumbing</span>
								</a>
							</h4>
							<div class="rightcol">
								<span>5 stars</span>
								<span class="reviews">63 reviews</span>

							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
	</ul>

</body>
</html>