<html>
<head>
	<title>Lovely Maintenance</title>
</head>
<body>

	<h1>Lovely Maintenace</h1>
	<h2>You have a request to fix {{c.name}}'s {{c.type}} issue</h2>

	<h3>Description:</h3>
	<p>{{c.text}}</p>

	<h3>Photos:</h3>
	<p>{{c.photourl}}</p>

	<h3>What's Next</h3>
	<p>You can contact one of our recomended contractors to get the job fix. But first reply
	to this email to respond to the users tweet. We will send them an email as well</p>
	<ul>
		<li>Recomended</li>
		<li>Contractor</li>
		<li>Here</li>
	</ul>

</body>
</html>